/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
video::-webkit-media-controls {
  display: none !important;
}

/* ================= FONTS ================= */
@font-face {
  font-family: "AlexBrush";
  src: url("./fonts/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "Baskerville";
  src: url("./fonts/Baskerville.ttc");
}

@font-face {
  font-family: "Anton";
  src: url("./fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: "Palestine";
  src: url("./fonts/Palestine/Palestine-Regular.otf");
}

@font-face {
  font-family: "DinNext";
  src: url("./fonts/ArbFONTS-DINNextLTArabic-Regular-2.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.ttf");
}

/* ================= GLOBAL ================= */
body {
  margin: 0;
  width: 100%;
}

/* ================= INTRO ================= */
#intro {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

#intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= HERO ================= */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.content h1 {
  font-size: 60px;
  font-family: "AlexBrush";
  font-weight: 300;
  margin-bottom: 10px;
}

.content h3 {
  font-family: "Baskerville";
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.content p {
  font-size: 24px;
  font-family: "Baskerville";
}

.yellow {
  color: #ffc600;
}

.date {
  margin-top: 20px;
}

/* ================= DIVIDER ================= */
.divider {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.divider::before,
.divider::after {
  content: "";
  width: 65px;
  height: 1px;
  background: #ccc;
}

.divider span {
  font-size: 18px;
  color: #ffc600;
}

/* ================= CONFIRMATION ================= */
.confirmation {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Baskerville";
  color: #fff;
}

/* ================= COUNTDOWN ================= */
.countdown-section {
  text-align: center;
  padding: 20px;
  background: url("image/B.g.png") center/cover no-repeat;
}

.countdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* بدل 150px */
  gap: 15px;
  padding: 0 100px;
}

@media (max-width: 768px) {
  .countdown {
    padding: 0 10px;
  }
}
.box {
  width: 100%;
  height: 100px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid #fff;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.box span {
  font-size: 55px;
  font-family: "Anton";
  font-weight: 500;
  line-height: 1;
}

.box p {
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.8;
}

/* ================= PRE LOCATION ================= */
.preLocation {
  text-align: center;
  color: #a8b3a2;
  padding: 30px 0;
  background: #fff9f9;
}

.arabic {
  font-family: "Palestine";
  font-size: 28px;
  font-weight: 500;
}

.english {
  font-family: "Baskerville";
  letter-spacing: 4px;
  margin-bottom: 30px;
}

/* ================= CARD ================= */
.card {
  width: 90%;
  max-width: 320px;
  margin: auto;
  padding: 30px 20px;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;

  border-radius: 50%;
  background: #c7d1c2;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: white;
}

/* ================= TEXT ================= */
.time-ar,
.address-ar {
  font-family: "DinNext";
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
}

.time-en {
  font-family: "DinNext";
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: center;
}

.address-en {
  font-family: "Baskerville";
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.5;
  text-align: center;
}

/* ================= LOCATION ================= */
.location {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #1d1c1ceb;
}

.map-wrapper {
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.map-wrapper iframe {
  width: 100%;
  height: 300px;
  border: 0;
  display: block;
  transform: translateZ(0);
}

/* ================= FOOTER ================= */
.poweredBy {
  font-family: "Poppins";
  background-color: #1d1c1ceb;
  color: #ddd;
  text-align: center;
  padding: 15px 0;
}
.hero,
.countdown-section,
.preLocation,
.location,
.powerdBy {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.9s ease;
}
.show-page .hero {
  opacity: 1;
  transform: translateY(0);
}
.hero .content > *,
.hero .confirmation {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
  filter: blur(5px);
  transition: all 0.6s ease;
}
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.9s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* بدل nth-child */
  padding: 10px 0;
}

.footer a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: #1a1a1a;
  color: #ddd;
  font-size: 18px;
  text-decoration: none;

  transition: 0.3s ease;
}

/* Hover effect 🔥 */
.footer a:hover {
  transform: translateY(-5px) scale(1.1);
}

/* ألوان كل أيقونة */
.footer a:nth-child(1):hover {
  color: #25d366;
}

.footer a:nth-child(2):hover {
  color: #1877f2;
}

.footer a:nth-child(3):hover {
  color: #e4405f;
}
